/* line 1, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system_section {
  background: #000 url("../img/2k_stars_milky_way.jpg");
  position: fixed;
  z-index: 2;
  transition: all var(--transition-duration) ease;
  overflow: hidden;
  cursor: var(--cursor);
  pointer-events: auto;
}

/* line 26, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system_section > .name {
  white-space: nowrap;
  color: #fff;
  box-shadow: inset 0 0 0 2px #53cbf1;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(83, 203, 241, 0.4) 63%);
  padding: .25rem .5rem .25rem 0.65rem;
  font-size: .75rem;
  font-weight: 400;
  transition: all var(--transition-duration) ease;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  position: fixed;
  left: 50%;
  top: 1.5rem;
  transform: translateX(-50%);
  z-index: 1;
}

/* line 48, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system {
  transform: rotateX(var(--angle));
  width: 100%;
  height: 100%;
  width: var(--maxSize, 100%);
  height: var(--maxSize, 100%);
  transform-style: preserve-3d;
  transform-origin: center;
  perspective-origin: center;
  margin: auto;
  transition: transform var(--transition-duration) ease;
  pointer-events: none;
  position: relative;
}

/* line 63, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system:hover .asteroids {
  opacity: 0.1;
}

/* line 67, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system:hover .astralBody {
  opacity: 0.1;
}

/* line 70, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system:hover .astralBody + .rings-holder,
.stellar-system:hover .astralBody + .stallelite-holder {
  opacity: 0.1;
}

/* line 75, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system:hover .astralBody:hover {
  opacity: 1;
}

/* line 78, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system:hover .astralBody:hover + .rings-holder,
.stellar-system:hover .astralBody:hover ~ .satellite-holder .astralBody {
  opacity: 1;
}

/* line 85, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system:hover .rings-holder,
.stellar-system:hover .stallelite-holder {
  opacity: 0.1;
}

/* line 89, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system:hover .rings-holder:hover,
.stellar-system:hover .stallelite-holder:hover {
  opacity: 1;
}

/* line 95, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system:hover .active .astralBody,
.stellar-system:hover .active .rings-holder,
.stellar-system:hover .active .stallelite-holder {
  opacity: 1;
}

/* line 105, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .orbit:not(.active) .astralBody, .stellar-system.hovered:hover .orbit:not(.active) .astralBody {
  pointer-events: none !important;
}

/* line 109, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .asteroids, .stellar-system.hovered:hover .asteroids {
  opacity: 0;
}

/* line 113, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .astralBody, .stellar-system.hovered:hover .astralBody {
  opacity: 0;
}

/* line 116, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .astralBody + .rings-holder,
.stellar-system.hovered .astralBody + .stallelite-holder, .stellar-system.hovered:hover .astralBody + .rings-holder,
.stellar-system.hovered:hover .astralBody + .stallelite-holder {
  opacity: 0;
}

/* line 121, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .astralBody:hover, .stellar-system.hovered:hover .astralBody:hover {
  opacity: 1;
}

/* line 124, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .astralBody:hover + .rings-holder,
.stellar-system.hovered .astralBody:hover ~ .satellite-holder .astralBody, .stellar-system.hovered:hover .astralBody:hover + .rings-holder,
.stellar-system.hovered:hover .astralBody:hover ~ .satellite-holder .astralBody {
  opacity: 1;
}

/* line 131, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .rings-holder,
.stellar-system.hovered .stallelite-holder, .stellar-system.hovered:hover .rings-holder,
.stellar-system.hovered:hover .stallelite-holder {
  opacity: 0;
}

/* line 135, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .rings-holder:hover,
.stellar-system.hovered .stallelite-holder:hover, .stellar-system.hovered:hover .rings-holder:hover,
.stellar-system.hovered:hover .stallelite-holder:hover {
  opacity: 1;
}

/* line 141, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .orbit.active .astralBody,
.stellar-system.hovered .orbit.active .rings-holder,
.stellar-system.hovered .orbit.active .stallelite-holder, .stellar-system.hovered:hover .orbit.active .astralBody,
.stellar-system.hovered:hover .orbit.active .rings-holder,
.stellar-system.hovered:hover .orbit.active .stallelite-holder {
  opacity: 1;
}

/* line 149, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.stellar-system.hovered .orbit.active .orbit .astralBody, .stellar-system.hovered:hover .orbit.active .orbit .astralBody {
  pointer-events: auto !important;
}

/* line 160, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.star {
  transform: rotateX(calc(var(--angle) * -1)) translate3d(-50%, var(--decalY), 0);
  background-size: cover;
  pointer-events: none;
  box-shadow: none;
}

/* line 170, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.star#sun .bg {
  width: 150%;
  height: 150%;
  border-radius: inherit;
  background-size: cover;
  transform: translate3d(-50%, -50%, 0);
}

/* line 182, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.star .position .astralBody-holder .astralBody {
  background: radial-gradient(ellipse at center, #fefcea 14%, #f1da36 75%);
  background: radial-gradient(ellipse at center, #fefcea 14%, #ddcc33 75%);
  box-shadow: 0 0 calc(var(--planet-size)*4) calc(var(--planet-size)*0.5) rgba(255, 214, 29, 0.9);
  box-shadow: 0 0 12rem 1.5rem rgba(255, 214, 29, 0.9), 0 0 2rem 0.5rem rgba(255, 214, 29, 0.9);
  filter: var(--filter);
}

/* line 190, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.star .position .astralBody-holder .astralBody:before {
  display: none;
}

/* line 199, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit {
  --orbit-duration: calc(var(--earthYear) * var(--thisYear));
  --revolution-duration: calc(var(--earthDay) * var(--thisDay));
  --orbit-size: calc(calc( var(--earthOrbit) * var(--thisOrbit) * var(--orbitFactor)) + calc(var(--addStarSize) * var(--earthSize)));
  --planet-size: calc(var(--earthSize) * var(--thisSize) * var(--sizeFactor));
  transform-style: preserve-3d;
  animation: orbit var(--orbit-duration) infinite linear;
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.05), inset 0 0 0px 1px rgba(255, 255, 255, 0.05);
  width: var(--orbit-size);
  height: var(--orbit-size);
  margin: calc(var(--orbit-size)/-2) 0 0 calc(var(--orbit-size)/-2);
  box-sizing: border-box;
  pointer-events: none;
}

/* line 215, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.tidal .position .astralBody-holder .astralBody.texture {
  --revolution-duration: var(--orbit-duration);
}

/* line 220, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.satellite {
  --addStarSize: 0;
}

/* line 224, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.asteroids, .orbit.asteroids:hover, .orbit.star, .orbit.star {
  box-shadow: none;
}

/* line 231, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .asteroid-holder.position {
  display: block;
  top: 50%;
  left: 50%;
  width: 50%;
  transform-origin: left;
  position: absolute;
  transform-style: preserve-3d;
  transition: all var(--transition-duration);
  margin: 0;
}

/* line 242, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .asteroid-holder.position .asteroid-wrapper.astralBody-holder {
  display: block;
  width: 2px;
  height: 2px;
  animation: orbit var(--orbit-duration) reverse infinite linear;
  position: absolute;
  left: 100%;
}

/* line 250, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .asteroid-holder.position .asteroid-wrapper.astralBody-holder .counter-orbit {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
}

/* line 258, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .asteroid-holder.position .asteroid-wrapper.astralBody-holder .asteroid {
  background: #ccc;
  border-radius: 50%;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotateX(calc(var(--angle) * -1)) translate3d(0, var(--decalY), 0);
  transform-style: preserve-3d;
  transform-origin: center;
}

/* line 272, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active {
  z-index: 100;
  --planet-size: 40vw;
}

/* line 277, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active .orbit.satellite {
  --orbit-size: calc(60vw * var(--thisActiveFactor));
}

@media screen and (max-width: 680px) {
  /* line 272, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
  .orbit.active {
    --planet-size: 60vw;
  }
  /* line 284, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
  .orbit.active .orbit.satellite {
    --orbit-size: calc(90vw * var(--thisActiveFactor));
  }
}

/* line 290, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.planet {
  --planet-orbit-duration: calc(var(--earthYear) * var(--thisYear));
}

/* line 293, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.planet > .position:before {
  content: '';
  display: block;
  height: calc(calc(var(--orbit-size) - calc(var(--earthSize) * 3)) / 2);
  width: 0px;
  box-shadow: 0 0 5px 2px rgba(83, 203, 241, 0.25);
  position: absolute;
  top: var(--top);
  left: var(--left);
  opacity: 0;
  transform: rotateZ(var(--lineAngle));
  transform-origin: var(--transformOrigin);
  transition: all 1s ease;
}

/* line 311, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.planet.outside > .position:before {
  opacity: 1;
}

/* line 316, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position {
  --orig-orbit-tilt: var(--orbit-tilt);
  transition: margin calc(var(--transition-duration) * 2) ease;
  margin-top: var(--top);
  margin-left: var(--left);
}

/* line 321, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.n {
  --top: 0%;
  --left: 50%;
  --lineAngle: 0deg;
  --transformOrigin: top;
  --translateX: -50%;
}

/* line 328, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.nw {
  --top: 14.5%;
  --left: 14.5%;
  --lineAngle: -45deg;
  --transformOrigin: top left;
}

/* line 334, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.w {
  --top: 50%;
  --left: 0%;
  --lineAngle: -90deg;
  --transformOrigin: top;
}

/* line 340, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.sw {
  --top: 85.5%;
  --left: 14.5%;
  --lineAngle: -135deg;
  --transformOrigin: top left;
}

/* line 346, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.s {
  --top: 100%;
  --left: 50%;
  --lineAngle: -180deg;
  --transformOrigin: top;
}

/* line 352, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.se {
  --top: 85.5%;
  --left: 85.5%;
  --lineAngle: -225deg;
  --transformOrigin: top left;
}

/* line 358, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.e {
  --top: 50%;
  --left: 100%;
  --lineAngle: -270deg;
  --transformOrigin: top;
}

/* line 364, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.ne {
  --top: 14.5%;
  --left: 85.5%;
  --lineAngle: -315deg;
  --transformOrigin: top left;
}

/* line 370, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position.c {
  margin-top: 50%;
  margin-left: 50%;
}

/* line 375, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder {
  --orbit-tilt: 0deg;
  width: var(--planet-size);
  height: var(--planet-size);
  margin: calc(var(--planet-size)/-2) 0 0 calc(var(--planet-size)/-2);
  animation: orbit var(--orbit-duration) reverse infinite linear;
  position: absolute;
  transform-style: preserve-3d;
  transition: all var(--transition-duration) ease;
}

/* line 387, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody {
  --shadow-size: var(--planet-size);
  width: 100%;
  height: 100%;
  transform: rotateX(calc(var(--angle) * -1)) translate3d(-50%, var(--decalY), 0);
  transform-style: preserve-3d;
  transform-origin: center;
  background: rgba(255, 255, 255, 0.1);
  background-position: center;
  background-size: cover;
  pointer-events: auto;
}

/* line 399, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody.texture {
  --revolution-duration: calc(var(--earthDay) * var(--thisDay));
  animation: slide var(--revolution-duration) linear infinite;
}

/* line 403, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody.texture .mask {
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

/* line 408, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody.texture .mask:empty {
  padding: .5%;
  box-shadow: inset 0 0 calc(var(--shadow-size) * .04) calc(var(--shadow-size) * .06) rgba(0, 208, 255, 0.2);
  box-shadow: inset 0 0 calc(var(--shadow-size) * .03) calc(var(--shadow-size) * .03) rgba(0, 208, 255, 0.2);
}

/* line 419, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  filter: var(--filter);
}

/* line 429, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .mask, .orbit .position .astralBody-holder .astralBody .clouds {
  background: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%) rotateZ(0deg);
}

/* line 437, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .clouds {
  animation: slide calc(var(--revolution-duration) * 1.5) linear infinite;
}

/* line 441, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .mask {
  overflow: hidden;
}

/* line 445, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .mask:after {
  content: '';
  animation: var(--animationName) var(--planet-orbit-duration) infinite linear;
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* line 484, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .hover-area {
  position: absolute;
  width: 100%;
  height: 100%;
  min-width: 1.5rem;
  min-height: 1.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 495, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .holder-infos {
  position: absolute;
  transition: all var(--transition-duration) ease;
  transform: rotateZ(calc(var(--orig-orbit-tilt) * -1)) translate3d(0, -50%, 0);
  top: 50%;
  color: rgba(255, 255, 255, 0);
  padding: 1rem;
  left: 75%;
  font-size: 1rem;
  line-height: 0;
  opacity: 0;
  visibility: hidden;
}

/* line 508, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .holder-infos .infos {
  position: absolute;
  padding: 1rem;
  margin: 0 1rem;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  background: rgba(0, 0, 0, 0.5);
}

/* line 518, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .holder-infos .infos .name {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: .25rem;
  font-weight: bold;
}

/* line 525, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .holder-infos .infos .details {
  border-top: 1px solid #fff;
  padding-top: 1rem;
  margin-top: 1rem;
  width: 30vw;
  display: none;
}

/* line 534, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .holder-infos .infos .details p {
  margin: 0;
}

/* line 538, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody .holder-infos .infos .details ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style-position: inside;
}

@media screen and (max-width: 680px) {
  /* line 495, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
  .orbit .position .astralBody-holder .astralBody .holder-infos {
    left: 50%;
  }
  /* line 549, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
  .orbit .position .astralBody-holder .astralBody .holder-infos .infos {
    margin: 0;
  }
  /* line 552, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
  .orbit .position .astralBody-holder .astralBody .holder-infos .infos .details {
    max-height: 50vh;
    width: calc(50vw - 2rem);
    overflow: auto;
  }
}

/* line 566, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .astralBody:hover .holder-infos {
  color: white;
  line-height: 1.5rem;
  opacity: 1;
  visibility: visible;
}

/* line 580, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .rings-holder {
  margin-top: 50%;
  margin-left: 50%;
}

/* line 584, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .rings-holder .rings {
  --orbit-size: calc(var(--planet-size)*1.75);
  animation: orbit var(--orbit-duration) reverse infinite linear;
  box-shadow: 0 0 5px calc(var(--planet-size)*0.15) var(--ringsColor, rgba(255, 255, 255, 0.5)), inset 0 0 5px calc(var(--planet-size)*0.15) var(--ringsColor, rgba(255, 255, 255, 0.5)), 0 0 calc(var(--planet-size)*0.05) calc(var(--planet-size)*0.05) var(--ringsColor, rgba(255, 255, 255, 0.5)), inset 0 0 calc(var(--planet-size)*0.05) calc(var(--planet-size)*0.05) var(--ringsColor, rgba(255, 255, 255, 0.5));
}

/* line 594, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit .position .astralBody-holder .satellite-holder {
  margin-top: 50%;
  margin-left: 50%;
}

/* line 652, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active .orbit .astralBody-holder, .orbit.active:hover .orbit .astralBody-holder {
  width: calc(var(--planet-size) *2);
  height: calc(var(--planet-size) *2);
  margin: calc(var(--planet-size)/-1) 0 0 calc(var(--planet-size)/-1);
}

/* line 668, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active > .position > .astralBody-holder,
.orbit.active > .position > .astralBody-holder:hover, .orbit.active:hover > .position > .astralBody-holder,
.orbit.active:hover > .position > .astralBody-holder:hover {
  width: 100%;
  height: 100%;
  width: var(--planet-size);
  height: var(--planet-size);
  margin: calc(var(--planet-size)/-2) 0 0 calc(var(--planet-size)/-2);
}

/* line 682, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active > .position > .astralBody-holder > .astralBody.texture .mask,
.orbit.active > .position > .astralBody-holder:hover > .astralBody.texture .mask, .orbit.active:hover > .position > .astralBody-holder > .astralBody.texture .mask,
.orbit.active:hover > .position > .astralBody-holder:hover > .astralBody.texture .mask {
  box-shadow: none;
}

/* line 685, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active > .position > .astralBody-holder > .astralBody.texture .mask:after,
.orbit.active > .position > .astralBody-holder:hover > .astralBody.texture .mask:after, .orbit.active:hover > .position > .astralBody-holder > .astralBody.texture .mask:after,
.orbit.active:hover > .position > .astralBody-holder:hover > .astralBody.texture .mask:after {
  width: calc(100% + 15px);
  height: calc(100% + 15px);
  box-shadow: inset 5px 5px 15px 8px rgba(0, 208, 255, 0.95), inset -10px -10px 20px 20px rgba(0, 0, 0, 0.95);
}

/* line 693, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active > .position > .astralBody-holder > .astralBody > .holder-infos,
.orbit.active > .position > .astralBody-holder:hover > .astralBody > .holder-infos, .orbit.active:hover > .position > .astralBody-holder > .astralBody > .holder-infos,
.orbit.active:hover > .position > .astralBody-holder:hover > .astralBody > .holder-infos {
  color: white;
  line-height: 1.5rem;
  opacity: 1;
  visibility: visible;
}

/* line 699, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active > .position > .astralBody-holder > .astralBody > .holder-infos .details,
.orbit.active > .position > .astralBody-holder:hover > .astralBody > .holder-infos .details, .orbit.active:hover > .position > .astralBody-holder > .astralBody > .holder-infos .details,
.orbit.active:hover > .position > .astralBody-holder:hover > .astralBody > .holder-infos .details {
  display: block;
}

/* line 711, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active > .position > .astralBody-holder .rings,
.orbit.active > .position > .astralBody-holder:hover .rings, .orbit.active:hover > .position > .astralBody-holder .rings,
.orbit.active:hover > .position > .astralBody-holder:hover .rings {
  --planet-size: 60vh;
  --orbit-size: calc(var(--planet-size)*1.75);
  box-shadow: 0 0 5px calc(var(--planet-size)*0.15) var(--ringsColor, rgba(255, 255, 255, 0.5)), inset 0 0 5px calc(var(--planet-size)*0.15) var(--ringsColor, rgba(255, 255, 255, 0.5)), 0 0 calc(var(--planet-size)*0.05) calc(var(--planet-size)*0.05) var(--ringsColor, rgba(255, 255, 255, 0.5)), inset 0 0 calc(var(--planet-size)*0.05) calc(var(--planet-size)*0.05) var(--ringsColor, rgba(255, 255, 255, 0.5));
}

@media screen and (orientation: portrait) {
  /* line 711, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
  .orbit.active > .position > .astralBody-holder .rings,
  .orbit.active > .position > .astralBody-holder:hover .rings, .orbit.active:hover > .position > .astralBody-holder .rings,
  .orbit.active:hover > .position > .astralBody-holder:hover .rings {
    --planet-size: 60vw;
  }
}

/* line 725, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit.active > .position > .astralBody-holder:hover .rings,
.orbit.active > .position > .astralBody-holder:hover:hover .rings, .orbit.active:hover > .position > .astralBody-holder:hover .rings,
.orbit.active:hover > .position > .astralBody-holder:hover:hover .rings {
  --orbit-size: calc(var(--planet-size)*1.75);
}

/* line 733, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit:hover,
.orbit:hover > .position > .astralBody-holder {
  animation-play-state: paused;
  z-index: 1;
}

/* line 739, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit:hover .position .astralBody {
  --shadow-size: calc(var(--planet-size) * 2);
}

/* line 742, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit:hover .position .astralBody .mask:after {
  animation-play-state: paused;
}

/* line 750, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit:not(.active):hover .position .astralBody-holder .orbit {
  --orbit-size: calc(var(--earthOrbit) * var(--thisOrbit) * var(--orbitFactor) * 2);
  --planet-size: calc(var(--earthSize) * var(--thisSize) * var(--sizeFactor) * 1.25);
}

/* line 764, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit:not(.asteroids):not(.star):hover {
  box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.25), inset 0 0 0px 1px rgba(255, 255, 255, 0.25);
}

/* line 778, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit:not(.star):hover .position .astralBody-holder {
  width: calc(var(--planet-size) *2);
  height: calc(var(--planet-size) *2);
  margin: calc(var(--planet-size)/-1) 0 0 calc(var(--planet-size)/-1);
}

/* line 789, /Applications/MAMP/htdocs/space/2019/galaxy-map/scss/stellar-system.scss */
.orbit:not(.star):hover .position .astralBody-holder .rings-holder .rings {
  --orbit-size: calc(var(--planet-size)*2.75);
}

/*# sourceMappingURL=../css/stellar-system.map */