:root {
  --hover-factor: 1.5;
  --transition-duration: .3s;
  --cursor: default;

  --angle: 70.2deg;
  --decalY: -11%;
  --tilt: none;
  --perspective: none;
  --orbit-tilt: 0deg;
  --tilt: 0deg;

  --shipLength: 2rem;
  --shipRatio: 0.5;

  // Galaxy Map
  --clusterSize: 2.5rem;

  // Stellar Systems
  --sizeFactor: 1;
  --orbitFactor: 1;
  --thisStarSize: 0;

  --earthYear: 30s;
  --thisYear: 1;
  --orbit-duration: calc(var(--earthYear) * var(--thisYear));

  --earthSize: 1rem;
  --thisSize: 1;
  --planet-size: calc(var(--earthSize) * var(--thisSize) * var(--sizeFactor));

  --earthOrbit: 15rem;
  --thisOrbit: 1;
  --orbit-size: calc(var(--earthOrbit) * var(--thisOrbit) * var(--orbitFactor));

  --earthDay: 5s;
  --thisDay: 1;
  --revolution-duration: calc(var(--earthDay) * var(--thisDay));

  --galacticAngleX: 0deg;
  --galacticAngleY: 0deg;
  --galacticSpinDuration: 12;

  --planet-orbit-duration: 1s;
}

body {
  // --angle: 90deg;
  // --decalY: 0%;
  margin: 0;
  background: #000 url('../img/2k_stars_milky_way.webp') fixed;
  background-size: cover;
  color: #fff;
  font-family: 'Assistant', sans-serif;
  // font-family: 'mass-effect', sans-serif;
  overflow: hidden;
  height: 100vh;
  -webkit-font-smoothing: antialiased;

  --shipWidth: calc(var(--shipLength) * var(--shipRatio));
  --shipRatio: 0.4;
  --ship: url('../img/normandy.svg');
  --shipLengthButton: 1.2em;
  cursor: var(--cursor);

  &.no-webp {
    background-image: url('../img/2k_stars_milky_way.jpg');
  }

  &[data-starship="true"] {
    --cursorImg: url('../img/cursor.svg');

    &.allows-starship {
      --cursor: none;
    }
  }

  &.allows-starship {

    --shipLengthButton: 1em;

    #galaxies a,
    .stellar-system_section a {
      cursor: none;
    }

    #ui:hover {
      --cursor: default;
    }

    #ui:hover + #mouseTracker {
      display: none;
    }

    #mouseTracker {
      display: block;
    }
  }

  &[data-galaxy] {
    #starShip {

      width: var(--shipWidth);

      .bg {
        background-image: var(--ship);
      }
    }
  }


  &[data-galaxy="andromeda"] {
    // --shipLengthButton: 0.7rem;
    --shipRatio: 0.57;
    --ship: url('../img/tempest.svg');
  }

}

#popin {
  z-index: 10;
  position: fixed;
  top: 150%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);

  border: 2px solid rgb(83, 203, 241);
  background: rgba(0,0,0,.25);
  width: 500px;
  max-width: 80%;
  font-family: 'mass-effect';
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  padding: 20px;
  transition: all 1s ease-out;


  &.show {
    top: 50%;
  }

  .popin-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h2 {
      margin: 0;
    }

    button {
      background: none;
      border: none;
      color: #fff;
      font-size: 2.5em;
      align-self: flex-start;
      line-height: 1em;
      padding: 0;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      outline: 2px solid #53cbf1;
      margin: 0;
    }
  }

  .message-container {
    line-height: 2em;
  }
}

.copyright {
  font-weight: 100;
  
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: #53cbf1; 
    }
  }
}

.stellar-system_section *, 
#galaxies * {
    transform-style: preserve-3d;
}

#mouse-infos {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 1rem;
  display: none;
}

#status {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 5;
  padding: 1rem;
}

#mouseTracker {
  position: fixed;
  // position: absolute;
  height: 0;
  width: 0;
  background: none;
  // z-index: 1000;
  pointer-events: none;
  transition: none;
  display: none;
  transform: rotateX(var(--angle));
  transform-style: preserve-3d;
  z-index: 3;
  // transition: all .1s ease;
  // box-sizing: border-box;

  #rotateShip {
    transform-style: preserve-3d;
    transform-origin: center;
    perspective-origin: center;
    // transform: rotateZ(20deg);
    position: absolute;
    transition: all .1s ease;

    span {
      display: block;
    }

    #starShip {
      position: absolute;
      transform: translate3d(-50%, -50%, 0);
      height: var(--shipLength);
      /* background: url(../img/tempest.svg) no-repeat; */
      background-size: cover;
      transform-style: preserve-3d;
      transform-origin: center;
      perspective-origin: center;

      .half {
        position: absolute;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transform-style: preserve-3d;
        transform-origin: center;
        perspective-origin: center;

        .bg {
          position: absolute;
          width: 200%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &.right {
          left: 50%;
          transform: rotateY(30deg);
          transform-origin: left;

          .bg {
            right: 0;
          }
        }

        &.left {
          right: 50%;
          transform: rotateY(-30deg);
          transform-origin: right;

          .bg {
            left: 0;
          }
        }

      }
    
      .reactor {
        display: block;
        width: 60%;
        height: 2rem;
        max-height: calc(var(--shipLength) * 0.57);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, -3px);
        // transform: translate3d(-50%, 0, 0);
        // background: rgba(0, 230, 255, 1);
        pointer-events: none;
        transition: all .1s ease;
        border-radius: .5rem .5rem 50% 50%;
        // background: radial-gradient(ellipse at center, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 44%,rgba(5,171,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background: radial-gradient(ellipse at top, rgba(252,252,252,1) 22%, rgba(83,203,241,0) 50%);
      }
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column-reverse;
  background: rgba(0, 0, 0, 0.5);

  @media screen and (orientation: portrait) {
    flex-direction: row;
    width: 100%;
  }

  label {
    border: 1px solid rgba(255,255,255,0);
    padding: .5em;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    position: relative;
    flex: 1;

    &:last-child {
      // border-top-width: 0;
      @media screen and (orientation: portrait) {
        border-top-width: 1px;
        // border-bottom-width: 0;
      }
    }

    &#toggle-sizes {
      display: flex;
      align-items: center;
      justify-content: center;
      --opacityStart: 1;
      --opacityEnd: 0;

      span {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: #fff;
        margin: .25rem;
        animation: toggle-sizes 3s infinite linear;
      }
    }

    &#toggle-sizes.active {
      span {
        animation-direction: reverse;
      }
    }

    &.toggle:not(.active) {
      // color: rgba(255, 255, 255, .5);
    }

  }
}

#toggle-starship {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem .5rem;

  span {
    width: var(--shipWidth);
    height: var(--shipLengthButton);
    transform: rotate(45deg);
    filter: grayscale(100) brightness(100) saturate(0);
    background: var(--cursorImg, var(--ship)) center no-repeat;
    background-size: contain;
    display: block;
  }
}

.touch #toggle-starship {
  display: none;
}

label[for="toggle-play"]:after {
  content: "Û";
}

#toggle-play:checked ~ #ui .settings label[for="toggle-play"]:after{
  content: "Ø";
}

label[for="toggle-details"]:after {
  content: "Q";
}

#toggle-details:checked ~ #ui .settings label[for="toggle-details"]:after{
  content: "s";
}

#toggle-play:checked ~ section *,
#toggle-play:checked ~ section *:before,
#toggle-play:checked ~ section *:after {
    animation-play-state: paused !important;  
}

#toggle-details:checked ~ section .details {
  display: none;
}

#toggle-settings:checked ~ #ui {
  .settings {
    // @media screen and (orientation: landscape) {
    //   border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    // }
    
    .buttons {   
      position: static;

      label {
        border: 0px solid rgba(255, 255, 255, 0.5);

        @media screen and (orientation: landscape) {
          border-left: 0;
          border-right-width: 1px;
        }

        @media screen and (orientation: portrait) {
          border-top: 0;
          border-bottom-width: 1px;
        }
      }

      label[for="toggle-settings"] {
        // border-right: 2px solid transparent;
        // margin-right: -1px;

        @media screen and (orientation: landscape) {
          border-right: 0;
          border-left: 1px solid rgba(255, 255, 255, 0.5);
          border-bottom-width: 1px;
        }

        @media screen and (orientation: portrait) {
          border-top: 1px solid rgba(255, 255, 255, 0.5);
          border-bottom: 1px solid transparent;
          border-left-width: 1px;
          margin-right: 0;  
        }
      }
    }
    
    .container {
      padding: .5rem;
      height: auto;

      @media screen and (orientation: landscape) {
        width: auto;
        height: auto;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      }
    }
  }

}

label[for="toggle-lightweight"] {
  display: flex;

  span {
    margin: 0 0 0 1rem;
    min-width: 3rem;
    text-align: right;
    font-weight: 600;
  
    &:after {
      content: 'OFF';
      border-radius: 3px;
      background: #666;
      padding: 0 .5rem;
    }
  }
}

#toggle-lightweight:checked ~ #ui .settings label[for="toggle-lightweight"]{

  span {
    &:after {
      content: 'ON';
      background: #fff;
      color: #000;
    }
  }
}

#ui {
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: flex-start;
    pointer-events: none;

    @media screen and (orientation: portrait) {
      flex-direction: column;
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
    }

    @media screen and (orientation: landscape) {
      flex-direction: row;
      height: 100vh;
    }
}

#ui > * {
  pointer-events: auto;
}

.settings {
  display: flex;
  flex-direction: row;
  background-size: 100%;
  transition: all var(--transition-duration) ease;
  border: solid rgba(255, 255, 255, 0);
  border-width: 0 0 0 1px;
  box-sizing: border-box;
  position: relative;
  z-index: 3;
  backdrop-filter: blur(10px);

  @media screen and (orientation: portrait) {
    align-items: center;
    border-width: 1px 0 0 0;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    border-top: none;
  }

  .container {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    justify-content: center;
    align-items: center;
    
    @media screen and (orientation: portrait){    
      flex-direction: row;
      height: 0;
      width: 100%;
    }
    @media screen and (orientation: landscape) {
      flex-direction: column;
      width: 0;
      height: 100%;
    }
  }

  .settings-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .25rem;

    @media screen and (orientation: landscape) {
      flex: 1;
      justify-content: space-evenly;
    }
  }


  .setting {
    display: flex;

    &:first-child {
      align-self: stretch;
      justify-content: space-between;
    }

    #reset-settings,
    #reset-settings:focus {
      line-height: 1rem;
      font-size: 1rem;
      border: none;
      text-align: center;
      padding: 0;
      cursor: pointer;
      background: none;
      color: #fff;
      font-family: 'Assistant', sans-serif;
      outline: none;
      
      span {
        margin: 0;
        min-width: 0;
        text-align: left;
      }
    }

    span {
      margin: 0 1rem;
      min-width: 3rem;
      text-align: right;

      &:first-child {
        margin-left: 0;
        cursor: pointer;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  input[type="range"]{
    position: relative;
    display: block;

    &:before {
      content: attr('name');
    }
    &:after {
      content: attr('value');
    }
  }
}

#dragInfos {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  z-index: 10;

  @media screen and (orientation: portrait) {
    top: 0;
    right: 0;
    left: auto;
    bottom: auto;
  }
}

section, .galaxy {
  width: 100%;
  height: 100vh;
  min-width: 100%;
  overflow: auto;
  overflow: hidden;
  perspective: var(--perspective);
}

.hidden-input {
  display: none;
}

[for="toggle-2d"] {
  position: fixed;
  z-index: 1;
  padding: 1rem;
  top: 0;
  left: 0;
  span:first-child {display: block;}    
  span:last-child {display: none;}
}

.cc {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transition: all var(--transition-duration) ease;
  transform-style: preserve-3d;
}
