body:not(.allows-starship) .stellar-system_section {
  // cursor: grab;
  
  cursor: grab;

  &.dragging {
    cursor: grabbing;
  }

  .orbit .astralBody-holder {
    cursor: auto;
  }
}

body.touch {
  .stellar-system_section  {
    touch-action: pinch-zoom;
  }
}

.no-webp {
  .stellar-system_section {
    background-image: url('../img/2k_stars_milky_way.jpg');
  }  
}

.stellar-system_section {
  // --top: 0;
  // --bottom: 0;
  // --left: 0;
  // --right: 0;
  // bottom: var(--bottom);
  // right: var(--right);
  // width: 100%;
  // height: 100%;
  // transform: scale(var(--scale)) translate3d(var(--translate), var(--translate), 0);
  // transform: scale(var(--scale));
  // transition: all 5s ease;
  background: #000 url('../img/2k_stars_milky_way.webp') center;
  background-size: auto 100vh;
  position: fixed;
  z-index: 2;
  transition: all var(--transition-duration) ease;
  overflow: hidden;
  cursor: var(--cursor);
  pointer-events: auto;

  // &.allowScroll {
  //   overflow: auto;
  //   position: relative;
  // }
  
  > .name {
    white-space: nowrap;
    color: #fff;
    box-shadow: inset 0 0 0 2px #53cbf1; 
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4) 0%, rgba(83, 203, 241, 0.4) 63%);
    padding: .25rem .5rem .25rem 0.65rem;
    font-size: .75rem;
    font-weight: 400;
    // margin: 5px;
    transition: all var(--transition-duration) ease;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    position: fixed;
    left: 50%;
    top: 1.5rem;
    transform: translateX(-50%);
    z-index: 1;
  }
}

/* .drop-shadow {
    width: 100%;
    height: 220%;
    background: rgba(0, 0, 0, 1);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 50%);
    -webkit-mask: url(../img/masks/mask-4b.svg);
    -webkit-mask-size: cover;
    -webkit-mask-position: top;
    -webkit-mask-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: 10;
    left: 0;
    top: 50%;
    transform: rotate(0deg) translateZ(5px);
    // border-radius: 0 0 50% 50%;
    transform-origin: top center;
    animation: var(--animationName2) var(--planet-orbit-duration) infinite linear;
} */


.position {
  .mask {
    // animation-delay: calc(calc(var(--planet-orbit-duration) * .5) * -1);
  }
}

@media screen and (max-width: 680px) {
  .adjust-margin{ margin-left: -10vw;}
}

.not-sphere {
  border-radius: none;
}


.mask-shadow {
  width: 300%;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -52%, 0);
  transform-style: preserve-3d;
  --decalShadow: 0;
  // background: url('../img/masks/mask-full.svg') red;
  // background-size: cover;

  &.satellites {

    .toclip {
      animation: var(--animationName2) var(--planet-orbit-duration) var(--planet-orbit-delay) infinite linear;
      height: 100%;
      margin-top: 50%;
      width: calc(100% / 3);
      position: absolute;
      top: 50%;
      left: 50%;
      transform-style: preserve-3d;
      transform-origin: top center;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .checkArea {
        margin-top: calc(var(--body-size) * 2/3);
        height: calc(var(--body-size));
      }
    }
  }
}

.orbit:hover .mask-shadow.satellites .toclip .checkArea {
  height: calc(var(--body-size) * 2);
}

.no-webp {
  .stellar-system .orbit.black-hole {
    .position .astralBody-holder .astralBody {
      &:before {
        background-image: url(../img/galaxy-map/black-hole-warp-6.png);
      }
    }  
  }
}

.stellar-system .orbit.black-hole {
  .position .astralBody-holder .astralBody {
    background: #000;
    box-shadow: none;
    border: 1px solid #fb8201;

    &:before,
    &:after {
      content: '';
      display: block;
      pointer-events: none;
    }

    &:after {
      transform: translate3d(-50%, -50%, -100px);
      position: absolute;
      top: 50%;
      left: 50%;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 0 calc(var(--body-size) * 3) calc(var(--body-size) * 2) rgba(255, 255, 255, 0.2);
      
    }

    &:before {
      transform: translate3d(-50%, -50%, calc(var(--body-size) * -30));
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      background: url(../img/galaxy-map/black-hole-warp-6.webp) center no-repeat;
      width: calc(var(--body-size) * 6);
      height: calc(var(--body-size) * 6);
      background-size: cover;
      -webkit-mask: url(../img/masks/mask-circle-3b.svg) center no-repeat;
      -webkit-mask-size: cover;
    }
  }

  .astralBody {
    & + .tilt-mask {
      color: #000;

      .mask-shadow {
        // color: inherit;
        // top: 50%;
        // left: 50%;
        // transform: scale3d(1.2, 1.2, 1) translate3d(-40%, -20%, 0);
        // transform: translate3d(-50%, -50%, 0);
        // -webkit-mask-image: none;

        color: inherit;
        top: 50%;
        left: 50%;
        transform: translate3d(-40%, -20%, 0);
        transform: translate3d(-50%, -32%, 0) scale3d(1.1, 1.3, 1);
        -webkit-mask-image: url(../img/masks/mask-back-black-hole-2.svg);

        .rings-holder {
          .orbit.rings {
            animation-direction: normal;
          }
        }
      }
    }
  }

  .tilt-mask {
    position: absolute;

    &:first-child {

    }

    .rings-holder .rings {
      // animation-play-state: paused !important;
      -webkit-mask: var(--images, url("../img/rings/default.svg"));
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: 45% center;
      -webkit-mask-size: var(--sizes, 80%);
      filter: blur(calc(var(--orbit-size)/500)) var(--filter, grayscale(1) brightness(5));
    }
    .mask-shadow {
      -webkit-mask-image: url('../img/masks/mask-back-black-hole.svg');
    }
  
    & + .tilt-mask {
      transform: rotateX(var(--angle));
      box-shadow: 0 0 calc(var(--body-size) * 0.5) calc(var(--body-size) * 0.2) rgb(0, 0, 0);
      border-radius: 50%;

      & + .tilt-mask {
        // transform: scale3d(1,.8,1) rotateX(calc(var(--angle) + 180deg));
        transform: scale3d(0.95, 1, 1) rotateX(calc(var(--angle) + 180deg)) rotateZ(0deg) translate3d(0,calc(var(--body-size) * -0.05) ,0);
      
        .mask-shadow {
          -webkit-mask-image: url('../img/masks/mask-bottom-black-hole.svg');
        }
      }
    }
  }
}

.tilt-mask {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;


  &+ .tilt-mask {
    transform: rotateX(var(--angle));

    .mask-shadow {
        // -webkit-mask-image: none;
    }

    &+ .tilt-mask {
        transform: scale3d(1,.8,1) rotateX(calc(var(--angle) + 180deg));
    }
  }

  &.has-no-mask{
    transform: rotateZ(calc(var(--axis) * -1)) rotateY(var(--tilt));

    .mask-shadow {
      -webkit-mask-image: url("../img/masks/mask-empty.svg");
    }
  }

  .mask-shadow {
    -webkit-mask-image: url('../img/masks/mask-full-11.svg');
    -webkit-mask-position: center;
    -webkit-mask-size: cover;
    animation: var(--animationName2) var(--planet-orbit-duration) var(--planet-orbit-delay) infinite linear;
  }

}

.orbit:not(.active) .position .astralBody-holder {
  // visibility: visible;
  // opacity: 1 !important;

  &.hidden {
    // opacity: 0 !important;
    // visibility: hidden;

    > .astralBody.satellite {
      background: #000 !important;

      .mask {
        background: #000 !important;        
      }

      .light {
        opacity: 0 !important;
      }
    }
  }
}


.stellar-system {
  transform: rotateX(var(--angle)) rotateZ(var(--axis));
  width: 100%;
  height: 100%;
  width: var(--maxSize, 100%);
  height: var(--maxSize, 100%);
  transform-style: preserve-3d;
  transform-origin: center;
  perspective-origin: center;
  margin: auto;
  transition: transform var(--transition-duration) ease;
  pointer-events: none;
  position: relative;


  // background: rgba(255,0,0, 0.1);

  &:hover {
    .asteroids {
      opacity: 0.1;
    }

    .astralBody {
      opacity: 0.1;

      & + .rings-holder,
      & + .stallelite-holder {
        opacity: 0.1;        
      }

      &:hover {
        opacity: 1;
      
        & ~ .rings-holder,
        & ~ .tilt-mask .rings-holder,
        & ~ .satellite-holder .astralBody,
        & ~ .satellites .satellite-holder .astralBody {
          opacity: 1;
        }
      }
    }

    .rings-holder,
    .stallelite-holder {
      opacity: 0.1;

      &:hover {
        opacity: 1;
      }
    }

    .active {
      .astralBody,
      .rings-holder,
      .stallelite-holder {
        opacity: 1;
      }
    }
  }

  &.hovered,
  &.hovered:hover {
    .orbit:not(.active) .astralBody {
      pointer-events: none !important;
    }

    .asteroids {
      opacity: 0;
    }

    .astralBody {
      opacity: 0;

      & + .rings-holder,
      & + .stallelite-holder {
        opacity: 0;
      }

      &:hover {
        opacity: 1;
      
        & + .rings-holder,
        & ~ .satellite-holder .astralBody {
          opacity: 1;
        }
      }
    }

    .rings-holder,
    .stallelite-holder {
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }

    .orbit.active {
      .astralBody,
      .rings-holder,
      .stallelite-holder {
        opacity: 1;
      }
      
      // .astralBody {
        .orbit {
          .astralBody {
            pointer-events: auto !important;
          }
        }
      // }
    }
  }


}

.orbit.star {
  transform: rotateX(calc(var(--angle) * -1)) translate3d(-50%, var(--decalY), 0);
  background-size: cover;
  pointer-events: none;
  box-shadow: none;
  
  &#sun {
    // background-color: yellow;
    // background-image: url(../img/png-hd/sun.png);

    .bg {
      width: 150%;
      height: 150%;
      // background-image: url(../img/png-hd/sun/halo.png);
      border-radius: inherit;
      background-size: cover;
      transform: translate3d(-50%,-50%,0);
    }
  }

  .position {
    .astralBody-holder {
      .astralBody {
        background: radial-gradient(ellipse at center, rgba(254,252,234,1) 14%,rgba(241,218,54,1) 75%);
        background: radial-gradient(ellipse at center, rgba(254,252,234,1) 14%,rgba(221,204,51,1) 75%);
        box-shadow: 0 0 calc(var(--body-size)*4) calc(var(--body-size)*0.5) rgba(255, 214, 29, 0.9);
        box-shadow: 0 0 12rem 1.5rem rgba(255, 214, 29, 0.9), 0 0 2rem 0.5rem rgba(255, 214, 29, 0.9);

        filter: var(--filter);

        &:before {
          display: none;
        }
      }
    }
  }
}


.orbit {
  --orbit-duration: calc(var(--earthYear) * var(--thisYear));
  --revolution-duration: calc(var(--earthDay) * var(--thisDay));
  --orbit-size: calc(calc( var(--earthOrbit) * var(--thisOrbit) * var(--orbitFactor)) + calc(var(--addStarSize) * var(--earthSize)) *1.5);
  --body-size: calc(var(--earthSize) * var(--thisSize) * var(--sizeFactor));
  // transform-style: preserve-3d;
  animation: orbit var(--orbit-duration) infinite linear;
  box-shadow: 0 0 0px 1px  rgba(255,255,255,.03), inset 0 0 0px 1px rgba(255,255,255,.03);
  box-shadow: 0 0 0px 1px  rgba(83,203,241,.03), inset 0 0 0px 1px rgba(83,203,241,.03);
  // border: 2px solid rgba(255,255,255,.1);
  width: calc(var(--orbit-size) + var(--body-size));
  height: calc(var(--orbit-size) + var(--body-size));
  margin: calc(calc(var(--orbit-size) + var(--body-size))/-2) 0 0 calc(calc(var(--orbit-size) + var(--body-size))/-2);
  box-sizing: border-box;
  pointer-events: none;
  // background: rgba(0,0,255, 0.1);

  &.planet {
    
  }

  &.tidal {
    .position .astralBody-holder .astralBody.texture {
      --revolution-duration: var(--orbit-duration);
    }
  }

  &.satellite {
    --addStarSize: 0;
    box-shadow: 0 0 0px 1px rgba(255, 255, 255, 0.02), inset 0 0 0px 1px rgba(255, 255, 255, 0.02);
    left: 0;
  }

  &.asteroids,
  &.asteroids:hover {
    // --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0));
    // animation-delay: var(--planet-orbit-delay);

    .anti-axis {
      width: 100%;
      height: 100%;
      transform: rotateZ(calc(var(--axis) * -1));
      transform-style: preserve-3d;
      transform-origin: center;
    }
  }

  &.asteroids,
  &.asteroids:hover,
  &.star,
  &.star {
    box-shadow: none;
  }

  .asteroid-holder.position {
    display: block;
    top: 50%;
    left: 50%;
    width: 50%;
    transform-origin: left;
    position: absolute;
    transform-style: preserve-3d;
    transition: all var(--transition-duration);
    margin: 0;

    .asteroid-wrapper.astralBody-holder {
      display: block;
      width: 2px;
      height: 2px;
      animation: orbit var(--orbit-duration) reverse infinite linear;
      position: absolute;
      left: 100%;

      .counter-orbit {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        position: absolute;
        transform: translate3d(-50%,-50%,0);
      }

      .asteroid {
        background: #ccc;
        background: #4a4643;
        border-radius: 50%;
        display: block;
        width: 100%;
        height: 100%;
        transform: rotateX(calc(var(--angle) * -1)) translate3d(0, var(--decalY), 0);
        transform-style: preserve-3d;
        transform-origin: center;
      }
    }

  }

  &.active,
  &.active:hover{
    z-index: 100;
    --earthSize: 30vw;
    --animationName: none !important;
    box-shadow: none !important;


    .orbit.satellite {
      // --orbit-size: calc(60vw * var(--thisActiveFactor));
      // --orbit-size: calc(calc(var(--planetSize) * var(--thisActiveFactor)) + calc(var(--planetSize) * var(--orbitFactor)));
      --orbit-size: calc(100vw * var(--orbitFactor));
      
      --planet-size: calc(var(--earthSize) / var(--planetFactor) * var(--thisSize));
      --body-size: calc(var(--earthSize) / var(--planetFactor) * var(--thisSize));
    }

    @media screen and (orientation: portrait) {
      --earthSize: 40vw;

      .orbit.satellite {
        --orbit-size: calc(133vw * var(--orbitFactor));
      }
    }

    @media screen and (max-width: 680px) {
      .orbit.satellite {

        // --orbit-size: calc(90vw * var(--thisActiveFactor));
      }
    }

    & ~ .orbit,
    & ~ .orbit .holder-infos {
      visibility: hidden !important;
    }
  }

  &.planet {
    --planet-size: calc(var(--earthSize) * var(--thisSize) * var(--sizeFactor));
    --planet-orbit-duration: calc(var(--earthYear) * var(--thisYear));

    > .position{

      &.s {
        --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0));

      }
      &.se {
        --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0.125));
      }
      &.e {
        --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0.25));
      }
      &.ne {
        --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0.375));
      }
      &.n {
        --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0.5));
      }
      &.nw {
        --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0.625));
      }
      &.w {
        --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0.75));
      }
      &.sw {
        --planet-orbit-delay: calc(var(--planet-orbit-duration) * calc(var(--axisStep) - 0.875));
      }

      &:before {
        content: '';
        display: block;
        height: calc(calc(var(--orbit-size) - calc(var(--earthSize) * 3)) / 2);
        width: 0px;
        box-shadow: 0 0 0 2px rgba(83,203,241,.25);
        // background: rgba(83, 203, 241, 0.4);
        // background: linear-gradient(to bottom, rgba(83,203,241,0) 0%,rgba(83,203,241,0.4) 20%,rgba(83,203,241,0.4) 60%,rgba(83,203,241,0) 90%);
        position: absolute;
        top: var(--top); 
        left: var(--left);
        top: 0; 
        left: 0;
        opacity: 0;
        transform: rotateZ(var(--lineAngle));
        transform-origin: var(--transformOrigin);
        transition: all 1s ease;
      }
    }

    &.outside {
      > .position:before {
        opacity: 1;
      }
    }
  }
  .position {
    --orig-orbit-tilt: var(--orbit-tilt);
    transition: margin calc(var(--transition-duration) * 2) ease;
    margin-top: var(--top);
    margin-left: var(--left);
    &.s {
      --top: 100%;
      --left: 50%;
      --lineAngle: -180deg;
      --transformOrigin: top;
    }
    &.se {
      --top: 85.5%;
      --left: 85.5%;
      --lineAngle: -225deg;
      --transformOrigin: top left;
    }
    &.e {
      --top: 50%;
      --left: 100%;
      --lineAngle: -270deg;
      --transformOrigin: top;
    }
    &.ne {
      --top: 14.5%;
      --left: 85.5%;
      --lineAngle: -315deg;
      --transformOrigin: top left;
    }
    &.n {
      --top: 0%;
      --left: 50%;
      --lineAngle: 0deg;
      --transformOrigin: top;
      --translateX: -50%;
    }
    &.nw {
      --top: 14.5%;
      --left: 14.5%;
      --lineAngle: -45deg;
      --transformOrigin: top left;
    }
    &.w {
      --top: 50%;
      --left: 0%;
      --lineAngle: -90deg;
      --transformOrigin: top;
    }
    &.sw {
      --top: 85.5%;
      --left: 14.5%;
      --lineAngle: -135deg;
      --transformOrigin: top left;
    }
    &.c {
      margin-top: 50%;
      margin-left: 50%;
    }
  
    .astralBody-holder {
      // --orbit-tilt: calc(var(--orbit-tilt) * -1);
      --orbit-tilt: 0deg;
      width: var(--body-size);
      height: var(--body-size);
      margin: calc(var(--body-size)/-2) 0 0 calc(var(--body-size)/-2);
      animation: orbit var(--orbit-duration) reverse infinite linear;
      position: absolute;
      transform-style: preserve-3d;
      transform-origin: center;
      transition: all var(--transition-duration) ease;


      .astralBody {
        // --orbit-tilt: 0deg;
        --shadow-size: var(--body-size);
        width: 100%;
        height: 100%;
        // transform: rotateZ(calc(var(--axis) * -1)) rotateX(calc(var(--angle) * -1)) translate3d(-50%, var(--decalY), 0);
        transform: translate3d(-50%, -50%, 0px) rotateZ(calc(var(--axis) * -1)) rotateX(calc(var(--angle) * -1));
        transform-style: preserve-3d;
        transform-origin: center;
        background-position: center;
        background-size: cover;
        pointer-events: auto;

        &.hidden {
          display: none;
        }

        &.texture {
          --revolution-duration: calc(var(--earthDay) * var(--thisDay));
          animation: slide var(--revolution-duration) linear infinite;

          .mask {
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;

            &:empty {
              // padding: 1%;
              box-shadow: inset 0 0 calc(var(--shadow-size) * .04) calc(var(--shadow-size) * .06) rgba(0, 208, 255, 0.2);
              box-shadow: inset 0 0 calc(var(--shadow-size) * .03) calc(var(--shadow-size) * .03) rgba(0, 208, 255, 0.2)
            }
          }

        }

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background: inherit;
          border-radius: inherit;
          filter: var(--filter);
          transform: rotateZ(var(--tilt));
        }

        .mask, .clouds {
          background: center;
          background-size: cover;
          width: 100%;
          height: 100%;
          transform: translate(-50%, -50%) rotateZ(0deg);
        }

        .clouds {
          animation: slide calc(var(--revolution-duration) * 1.5) linear infinite;
          transform: rotateZ(var(--tilt));
          position: absolute;
          top: 0;
          left: 0;
        }

        .mask {
          overflow: hidden;
          width: 102%;
          height: 102%;


          &:after {
            content: '';
            // transform-style: preserve-3d;
            // transform-origin: center;
            animation: var(--animationName) var(--planet-orbit-duration) var(--planet-orbit-delay) infinite linear;
            z-index: 1;
            border-radius: 50%;
            position: absolute;
            width: 200%;
            height: 200%;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
          }
        }

        .hover-area {
          position: absolute;
          width: 100%;
          height: 100%;
          min-width: 1.5rem;
          min-height: 1.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
        .holder-infos {
          position: absolute;
          transition: all var(--transition-duration) ease;
          transform: rotateZ(calc(var(--orig-orbit-tilt) * -1)) translate3d(0, -50%, 100px);
          top: 50%;
          color: rgba(255,255,255,0);
          padding: 1rem;
          left: 75%;
          font-size: 1rem;
          line-height: 0;
          opacity: 0;
          visibility: hidden;

          .infos {
            position: absolute;
            padding: 1rem;
            margin: 0 1rem;
            top: 50%;
            left: 0;
            transform: translate3d(0, -50%, 0);
            background: rgba(0,0,0,.5);

        
            .name {
              text-transform: uppercase;
              font-size: 1.25rem;
              letter-spacing: .25rem;
              font-weight: bold;
              white-space: nowrap;
            }

            .details {
              border-top: 1px solid #fff;
              padding-top: 1rem;
              margin-top: 1rem;
              width: 30vw;
              display: none;
              max-height: 50vh;
              overflow: auto;

              p {
                margin: 0;
              }

              ul {
                margin: 0 0 1rem;
                padding: 0;
                list-style-position: inside;

                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }

          @media screen and (max-width: 680px) {
            left: calc(50% + 10vw);

            .infos {
              margin: 0;

              .details {
                max-height: 50vh;
                width: calc(50vw - 2rem);
                overflow: auto;
              }
            }
          }
        }

        
        .hover-area {
          &.hovered {
            + .holder-infos {
              color: rgba(255,255,255,1);
              line-height: 1.5rem;
              opacity: 1;
              visibility: visible;
            }
          }
        }


        &:hover,
        &.hovered {

          .holder-infos {
            color: rgba(255,255,255,1);
            line-height: 1.5rem;
            opacity: 1;
            visibility: visible;

            .details {
              // display: block;
            }
          }
        }

      }

      .rings-holder {
        margin-top: 50%;
        margin-left: 50%;
        transform-style: flat;
      
        .rings {
          --orbit-size: calc(var(--body-size)*3);
          animation: orbit var(--orbit-duration) reverse infinite linear;
          width: var(--orbit-size);
          height: var(--orbit-size);
          margin: calc(var(--orbit-size)/-2) 0 0 calc(var(--orbit-size)/-2);
          box-shadow: none;
          position: absolute;
          border-radius: 50%;
          background: var(--images, url("../img/rings/default.svg"));
          background-repeat: no-repeat;
          background-position: center;
          background-size: var(--sizes, 80%);
          filter: blur(calc(var(--orbit-size)/500)) var(--filter, grayscale(1) brightness(5));
        }
      }

      .satellite-holder {
        margin-top: 50%;
        margin-left: 50%;
        
        .astralBody {
          // pointer-events: none;
        }
      }

    }
  }

  &:not(.active):not(.star):not(.black-hole):hover {
    .position {
      .astralBody-holder {
        width: calc(var(--body-size) *2);
        height: calc(var(--body-size) *2);
        margin: calc(var(--body-size)/-1) 0 0 calc(var(--body-size)/-1);
    
        .orbit {

        }
    
        .rings-holder {
          .rings {
            --orbit-size: calc(var(--body-size)*4.5);
          }
        } 

      }
    }
  }

  &.active,
  &.active:hover {

    ~ .orbit {
      // display: none;
      visibility: hidden;
    }

    .orbit {
      &.satellite {
        @media screen and (orientation: portrait) {
        }
      }

      .position {
        // --sizeFactor: 2;
      }
      // Satellites
      .astralBody-holder {
        width: calc(var(--body-size));
        height: calc(var(--body-size));
        margin: calc(var(--body-size)/-1) 0 0 calc(var(--body-size)/-1);
        .astralBody {
          // pointer-events: auto;
        }
      }
    }

    > .position {
      // margin-top: 50%;
      // margin-left: 50%;

      > .astralBody-holder, 
      > .astralBody-holder:hover {
        // width: 30vw;
        // height: 30vw;
        width: 100%;
        height: 100%;

        width: var(--body-size);
        height: var(--body-size);
        margin: calc(var(--body-size)/-2) 0 0 calc(var(--body-size)/-2);

        // planets
        > .astralBody {
          &.texture {
            .mask {
              box-shadow: none;

              &:after {
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                box-shadow: inset 5px 5px 15px 8px rgba(0, 208, 255, .95), inset -10px -10px 20px 20px rgba(0, 0, 0, .95);
                // width: calc(100% + 15px);
                // height: calc(100% + 15px);
                // background: url(../img/masks/round-mask-blue.svg),url(../img/masks/round-mask-inset-inverted-2.svg), url(../img/masks/round-mask-inset-inverted-2.svg), url(../img/masks/round-mask-inset-inverted-2.svg);
                // background-size: cover;
                // background-position: center, center, center, center;
                // background-repeat: no-repeat;
              }
            }
          }

          > .holder-infos {
            color: rgba(255,255,255,1);
            line-height: 1.5rem;
            opacity: 1;
            visibility: visible;

            .details {
              display: block;
            }
          }


          > .hover-area {
            // width: 100vw;
            // height: 100vh;
          }
        }

        .rings {
          --orbit-size: calc(var(--body-size)*2.5);
          box-shadow: none;
        }

        &:hover {
          .rings {
            --orbit-size: calc(var(--body-size)*2.5);
          }
        }
      }
    }
  }

  &:hover,
  &:hover > .position > .astralBody-holder {
    animation-play-state: paused;
    z-index: 1;
  }

  &:hover{ 
    .toclip,
    .tilt-mask .mask-shadow {
      animation-play-state: paused;
    }
  }

  &:hover .position .astralBody {
    --shadow-size: calc(var(--body-size) * 2);
    
    .mask:after {
      animation-play-state: paused;
    }
  }

  &:not(.active):not(.black-hole):hover {
    .position {
      .astralBody-holder {
        .orbit {
          --orbit-size: calc(var(--earthOrbit) * var(--thisOrbit) * var(--orbitFactor) * 2);
          --planet-size: calc(var(--earthSize) * var(--thisSize) * var(--sizeFactor) * 1.25);
          --body-size: calc(var(--earthSize) * var(--thisSize) * var(--sizeFactor) * 1.25);
        }

        .rings-holder {
          .rings {

          }
        }
      }
    }
  }

  &:not(.asteroids):not(.star):hover {
    box-shadow: 0 0 0px 1px  rgba(255,255,255,.25), inset 0 0 0px 1px rgba(255,255,255,.25);
    box-shadow: 0 0 0px 1px  rgba(83,203,241,.25), inset 0 0 0px 1px rgba(83,203,241,.25);
    // border: 2px solid rgba(255,255,255,.2);
  
    .position {
      
      .astralBody-holder {
      }
    }

  }


}
